# SpeedyBee F7V3 board

# Copyright 2024 Arthur Eichelberger
# SPDX-License-Identifier: Apache-2.0

if BOARD_SPEEDYBEE_F7V3

config FC_HAS_DSHOT_BIDIR
    bool
    default y
    depends on HAS_DSHOT_BIDIR
    depends on APP_NUM_MOTORS <= 4

config FC_DSHOT_DMA_BURST
    bool
    default y
    depends on !DSHOT_BIDIR
    imply DSHOT_STM32_DMA_BURST

endif # BOARD_SPEEDYBEE_F7V3
