/*
 * Copyright (c) 2024 Arthur Eichelberger
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f7/stm32f722Xe.dtsi>
#include <st/f7/stm32f722r(c-e)tx-pinctrl.dtsi>

/ {
	model = "SpeedyBee F7V3";
	compatible = "spbe,speedybee_f7v3";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
		zephyr,itcm = &itcm;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_1 {
			gpios = <&gpioa 14 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	aliases {
		led0 = &blue_led;
		/*motors =    <&dshot1 1>, // M1
					<&dshot1 2>, // M2
					<&dshot2 1>, // M3
					<&dshot3 1>, // M4
					<&dshot3 2>, // M5
					<&dshot2 2>, // M6
					<&dshot2 3>, // M7
					<&dshot2 4>; // M8*/
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&clk_hsi {
	status = "disabled";
};

&clk_lsi {
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <432>;
	div-p = <2>;
	div-q = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(216)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&dma1 {
	status = "okay";
};

&timers2 {
	dshot {
		compatible = "st,stm32-dshot";
		default-type = <600>;
		#dshot-cells = <1>;
		ch1 {
			channel = <1>;
			status = "disabled";
		};
		ch2 {
			channel = <2>;
			status = "disabled";
		};
		ch3 {
			channel = <3>;
			status = "disabled";
		};
		ch4 {
			channel = <4>;
			status = "disabled";
		};
		status = "disabled";
	};
};

&timers3 {
	dshot {
		compatible = "st,stm32-dshot";
		default-type = <600>;
		#dshot-cells = <1>;
		ch1 {
			channel = <1>;
			status = "disabled";
		};
		ch2 {
			channel = <2>;
			status = "disabled";
		};
		ch3 {
			channel = <3>;
			status = "disabled";
		};
		ch4 {
			channel = <4>;
			status = "disabled";
		};
		status = "disabled";
	};
};

&timers4 {
	dshot {
		compatible = "st,stm32-dshot";
		default-type = <600>;
		#dshot-cells = <1>;
		ch1 {
			channel = <1>;
			status = "disabled";
		};
		ch2 {
			channel = <2>;
			status = "disabled";
		};
		ch3 {
			channel = <3>;
			status = "disabled";
		};
		ch4 {
			channel = <4>;
			status = "disabled";
		};
		status = "disabled";
	};
};

&timers2 {
	dshot1: dshot {
		pinctrl-0 = <&tim2_ch1_pa15 &tim2_ch2_pb3>;
		pinctrl-names = "default";
		dmas =  <&dma1 1 3 0x3D440 3>,
				<&dma1 5 3 0x3D440 0>,
				<&dma1 6 3 0x3D440 0>;
		dma-names = "up", "ch1", "ch2";
		use-dma-burst;
		ch1 {
			status = "okay";
		};
		ch2 {
			status = "okay";
		};
		status = "okay";
	};
};

&timers3 {
	dshot2: dshot {
		pinctrl-0 = <&tim3_ch1_pb4 &tim3_ch2_pb5 &tim3_ch3_pb0 &tim3_ch4_pb1>;
		pinctrl-names = "default";
		dmas =  <&dma1 2 5 0x3D440 3>,
				<&dma1 4 5 0x3D440 0>,
				<&dma1 5 5 0x3D440 0>,
				<&dma1 7 5 0x3D440 0>,
				<&dma1 2 5 0x3D440 0>;
		dma-names = "up", "ch1", "ch2", "ch3", "ch4";
		use-dma-burst;
		ch1 {
			status = "okay";
		};
		ch2 {
			status = "okay";
		};
		ch3 {
			status = "okay";
		};
		ch4 {
			status = "okay";
		};
		status = "okay";
	};
};

&timers4 {
	dshot3: dshot {
		pinctrl-0 = <&tim2_ch1_pa15 &tim2_ch2_pb3>;
		pinctrl-names = "default";
		dmas =  <&dma1 6 2 0x3D440 3>,
				<&dma1 3 2 0x3D440 0>,
				<&dma1 0 2 0x3D440 0>;
		dma-names = "up", "ch1", "ch2";
		use-dma-burst;
		ch1 {
			status = "okay";
		};
		ch2 {
			status = "okay";
		};
		status = "okay";
	};
};