#
# Copyright 2024 Arthur Eichelberger
#
# SPDX-License-Identifier: Apache-2.0
#

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable cache management
CONFIG_DCACHE=y
CONFIG_ICACHE=y
CONFIG_CACHE_MANAGEMENT=y
CONFIG_NOCACHE_MEMORY=y

# Enable clocks
CONFIG_CLOCK_CONTROL=y

# Enable pinctrl
CONFIG_PINCTRL=y

# Enable async UART
CONFIG_UART_ASYNC_API=y

# Enable USB terminal
CONFIG_SHELL_ASYNC_API=n
CONFIG_SHELL_PROMPT_UART="speedybee_f7v3:~$ "
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_PRODUCT="SpeedyBee F7V3"
CONFIG_USB_DEVICE_PID=0x0004
CONFIG_USB_CDC_ACM=y
CONFIG_UART_LINE_CTRL=y
CONFIG_USB_CDC_ACM_LOG_LEVEL_OFF=y
