# Copyright (c) 2024 Arthur Eichelberger
# SPDX-License-Identifier: Apache-2.0

menu "zflight"
source "Kconfig.zephyr"
endmenu

module = ZFLIGHT
module-str = ZFLIGHT
source "subsys/logging/Kconfig.template.log_config"

config ZFLIGHT_NUM_MOTORS
	int
    default $(NUM_MOTORS)
	help
	  Configure the number of motors on the platform.
