# Copyright (c) 2024 Arthur Eichelberger
# SPDX-License-Identifier: Apache-2.0

menuconfig DSHOT
	bool "DShot ESC drivers"
	help
	  This option enables the DShot ESC drivers.

if DSHOT

config DSHOT_INIT_PRIORITY
	int "DShot ESC device drivers init priority"
	default KERNEL_INIT_PRIORITY_DEVICE
	help
	  DShot ESC device drivers init priority.

module = DSHOT
module-str = dshot
source "subsys/logging/Kconfig.template.log_config"

config DSHOT_SHELL
	bool "DShot shell"
	depends on SHELL
	help
	  Enable the DShot related shell commands.

config DSHOT_BIDIR
    bool "Bidirectional DShot ESC"
    depends on HAS_DSHOT_BIDIR
	help
	  This option extends the DShot driver API with the ability
	  to receive telemetry from the ESC on the signal line.

config DSHOT_EDT
    bool "Extended Bidirectional DShot Telemetry"
    depends on DSHOT_BIDIR
	help
	  This option enables extended DShot Bidirectional telemetry.
	  Without this option select, only erpm is available.

rsource "Kconfig.stm32"

endif # DSHOT